@font-face {
  font-family: Leitura News;
  font-style: normal;
  font-weight: 700;
  src: url('/LeituraNews-Roman4.woff2') format('woff2'),
    url('/LeituraNews-Roman4.woff') format('woff');
}
@font-face {
  font-family: Babbel Milliard;
  font-style: normal;
  font-weight: 400;
  src: url('/Milliard-Book.woff2') format('woff2'),
    url('/Milliard-Book.woff') format('woff');
}

@tailwind base;
@tailwind componentsl;
@tailwind utilities;

@layer base {
  body {
    color: rgb(12, 46, 68);

    --primary: rgba(255, 121, 15, 1);
    --primary-75: rgba(255, 121, 15, .75);
    --border: #0F293C;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'Leitura News', sans-serif;
    margin-top: 1rem;
  }

  h1 {
    @apply text-3xl;
  }

  h2 {
    @apply text-2xl;
  }

  h3 {
    @apply text-xl;
  }

  button {
    background-color: var(--primary);
  }

  button.primary {
    @apply rounded px-4 py-1 text-white min-w-min;
    min-width: 100px;
  }

  button.clean {
    @apply rounded-none bg-transparent text-current min-w-min;
  }

  button[disabled] {
    @apply opacity-50;
  }
}

@layer utilities {
  .w-125 {
    width: 500px;
  }

  .max-h-125 {
    max-height: 500px;
  }

  .max-w-125 {
    max-width: 500px;
  }

  .text-primary {
    color: var(--primary);
  }
}

@layer components {
  .accordion-header {
    @apply border-b-2 hover:cursor-pointer;
  }

  .accordion {
    @apply w-full max-h-0 overflow-hidden rounded px-2 transition-max-h duration-300;
  }

  .accordion.isOpen {
    @apply max-h-96;
  }

  .changeCameraButton {
    @apply w-0 h-0 border-solid bg-transparent opacity-75;

    border-width: 0 32px 32px 0;
    border-color: transparent var(--primary-75) transparent transparent;
  }

  .printer-frame {
    position: relative;
    width: 100%;
    height: 36px;
    border: 3px solid #000000;
    border-radius: 20px 20px 2px 2px;
    margin-top: auto;
  }

  .printer-slot {
    position: absolute;
    height: 0;
    left: 9%;
    right: 9%;
    top: 50%;
    border: 3px solid #000000;
  }

  .printer-button {
    position: absolute;
    right: 5%;
    top: 25%;

    border: 2px solid #000000;
    border-radius: 100%;
  }

  .printer-paper {
    position: absolute;
    left: 10%;
    right: 10%;
    top: 50%;
    min-height: 1.5em;

    background: #ffffff;
    border: 3px solid #000000;
    border-radius: 0 0 2px 2px;
  }
}
