@font-face {
  font-family: Leitura News;
  font-style: normal;
  font-weight: 700;
  src: url('/LeituraNews-Roman4.woff2') format('woff2'),
    url('/LeituraNews-Roman4.woff') format('woff');
}
@font-face {
  font-family: Babbel Milliard;
  font-style: normal;
  font-weight: 400;
  src: url('/Milliard-Book.woff2') format('woff2'),
    url('/Milliard-Book.woff') format('woff');
}

@tailwind base;
@tailwind componentsl;
@tailwind utilities;

@layer base {
  body {
    color: rgb(12, 46, 68);

    --primary: rgba(255, 121, 15, 1);
    --primary-75: rgba(255, 121, 15, .75);
    --darkBlue: #0F293C;
    --clean: #284B7C;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'Leitura News', sans-serif;
    margin-top: 1rem;
  }

  h1 {
    @apply text-3xl;
  }

  h2 {
    @apply text-2xl;
  }

  h3 {
    @apply text-xl;
  }

  button {
    @apply text-clean bg-primary;
  }

  a.primary, button.primary {
    @apply inline-block bg-primary rounded px-6 py-2 text-white min-w-min;
    min-width: 100px;
  }

  button.clean {
    @apply rounded-none bg-transparent min-w-min text-clean;
  }

  button[disabled] {
    @apply opacity-50;
  }
}

@layer utilities {
  .w-125 {
    width: 500px;
  }

  .max-h-125 {
    max-height: 500px;
  }

  .max-w-125 {
    max-width: 500px;
  }

  .text-primary {
    color: var(--primary);
  }

  .min-h-60 {
    min-height: 15rem;
  }

  .min-h-1rem {
    min-height: 1rem;
  }

  .max-w-full {
    max-width: 100%;
  }
}

@layer components {
  .accordion-header {
    @apply border-b-2 hover:cursor-pointer;
  }

  .accordion {
    @apply w-full max-h-0 overflow-hidden rounded px-2 transition-max-h duration-300;
  }

  .accordion.isOpen {
    @apply max-h-96;
  }

  .changeCameraButton {
    @apply w-0 h-0 border-solid bg-transparent opacity-75;

    border-width: 0 32px 32px 0;
    border-color: transparent var(--primary-75) transparent transparent;
  }

  .border-box {
    @apply px-4 py-2 my-2 border-border border-2 rounded-xl;
  }
}
