@font-face {
  font-family: Leitura News;
  font-style: normal;
  font-weight: 700;
  src: url('/LeituraNews-Roman4.woff2') format('woff2'), url('/LeituraNews-Roman4.woff') format('woff');
}
@font-face {
  font-family: Babbel Milliard;
  font-style: normal;
  font-weight: 400;
  src: url('/Milliard-Book.woff2') format('woff2'), url('/Milliard-Book.woff') format('woff');
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    color: rgb(12, 46, 68);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'Leitura News', sans-serif;
    margin-top: 1rem;
  }

  h1 {
    @apply text-3xl;
  }

  h2 {
    @apply text-2xl;
  }

  h3 {
    @apply text-xl;
  }

  button {
    background-color: rgba(255, 121, 15, 1);
  }

  button.primary {
    @apply rounded px-4 py-1 text-white min-w-min;
    min-width: 100px;
  }
}

@layer utilities {
  .w-125 {
    width: 500px;
  }

  .max-h-125 {
    max-height: 500px;
  }

  .max-w-125 {
    max-width: 500px;
  }
}

@layer components {
  .accordion-header {
    @apply border-b-2 hover:cursor-pointer;
  }

  .accordion {
    @apply w-full max-h-0 overflow-hidden rounded px-2 transition-max-h duration-300;
  }

  .accordion.isOpen {
    @apply max-h-96;
  }

  .changeCameraButton {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 32px 32px 0;
    border-color: transparent rgba(255, 121, 15, 0.75) transparent transparent;
    opacity: 0.75;
  }
}
